body {
  background-image: url(background.jpg);
  background-size: cover;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.quotes {
  text-align: left;
  background-color: black;
  opacity: 0.8;
  width: 80%;
  margin: 0px auto;
  padding: 50px;
  text-align: center;
}

button {
  text-align: center;
}

.btn {
  text-decoration: none;
  color: steelblue;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px steelblue;
  text-align: center;
  transition: 1s;
  cursor: pointer;
  margin: 30px;
}

.btn:hover {
  background-color: steelblue;
  color: white;
}

h3 {
  color: steelblue;
}

.quote {
  font-size: 30px;

}